<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Destinations</title>
</head>
<body>
<a href="{% url 'travels:index' %}"><button type="button">Home</button></a>
<a href="{% url 'login:logout' %}"><button type="button">Logout</button></a>
<h1>{{ plan.destination }}</h1>
<p>Planned By: {{ plan.creator.first_name }}</p>
<p>Description: {{ plan.description }}</p>
<p>Travel Date From: {{ plan.startdate|date:'M d Y' }}</p>
<p>Travel Date To: {{ plan.enddate|date:'M d Y' }}</p>
<h2>Other users joining the trip:</h2>
<ul>
  {% for joiner in others %}
    <li>{{ joiner.first_name }}</li>
  {% endfor %}
</ul>
</body>
</html>
